{% extends "admin_base.twig" %}

{% block content %}

    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="bs-example" data-example-id="simple-jumbotron">
                <div class="jumbotron">
                    <h1><i class="fa fa-warning"></i> Quase lá!</h1>
                    <p>Esta funcionalidade estará disponível apenas na versão 2 <i class="fa fa-rocket"></i></p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block scripts %}


{% endblock %}